
.icon-location:before { content: '\e800'; } /* '' */
.icon-save:before { content: '\e801'; } /* '' */
.icon-estudios:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-job:before { content: '\e805'; } /* '' */
.icon-rocket:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-universidad:before { content: '\f19c'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-datos:before { content: '\f2bc'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
